<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio | Hemangini Patel</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body style="background-color: ghostwhite;">
    <div class="container">
      <!-- basic info and pic -->
      <div class="row" style="padding-bottom: 4rem; background-color: aliceblue; padding: 0rem 2rem 4rem 0rem;">
        <!-- image -->
        <div class="col-4">
          <img
            src="https://res.cloudinary.com/hemangini/image/upload/v1675278839/profile_blrsda.jpg"
            alt="profile"
            height="650"
            width="550"
            class="img"
          />
        </div>
        <!-- basic info about me -->
        <div class="col-8" style="padding-top: 20px;">
          <div class="row">
            <div class="col-11"></div>
            <div class="col-1">
              <div class="menu-toggle">
                <a href="#" class="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                  <i></i>
                </a>
              </div>
              <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                  <h5 class="fs-1" id="offcanvasWithBothOptionsLabel">Index</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="font-family: Roboto, sans-serif;">
                  <a href="#workExperience" class="fs-3 text-decoration-none" style="color:black">Work Experience</a><br />
                  <a href="#education" class="fs-3 text-decoration-none" style="color:black">Educational Qualification</a><br />
                  <a href="#projects" class="fs-3 text-decoration-none" style="color:black">My Projects</a><br />
                  <a href="#contactMe" class="fs-3 text-decoration-none" style="color:black">Contact Me</a> 
                </div>
              </div>
            </div>
          </div>
          <div
            style="
              padding-left: 100px;
              padding-top: 50px;
              font-family: Roboto, sans-serif;
            "
          >
            <h1>Hello There!</h1>
            <h1>I'm <span></span></h1>
            <p style="color: darkgray; padding-top: 20px; line-height: 26px">
              I am from India. I have done Bachelor of Engineering in
              Information Technology from Gujarat Technological University.
              During my bachelor’s, I have done internship in one of India’s
              companies as a web developer. In 2021, I moved to Canada for
              gaining deep knowledge of programming. I am proud to have
              successfully completed the Computer Programming course at Seneca
              College.
              <br /><br />
              As an entry-level web developer, I bring a passion for technology
              and a strong commitment to delivering high-quality web solutions
              to clients. With a solid understanding of HTML, CSS, JavaScript,
              and Node JS. I am capable of creating dynamic and user-friendly
              websites that meet the needs of clients and customers. My
              attention to detail and desire to continuously learn and improve
              my skills allow me to stay current with industry trends and
              advancements. I am excited to start my career in web development
              and look forward to the opportunity to work with a team of
              experienced professionals and bring innovative solutions to life.
            </p>
          </div>
          <div class="row justify-content-center pt-5">
            <div class="col-3">
              <a
                href="/doc/Hemangini_resume.pdf"
                download
                class="btn btn-secondary"
                style="padding: 10px 25px"
                >Download Resume</a
              >
            </div>
            <div class="col-3">
              <a
                href="#contactMe"
                class="btn btn-outline-secondary ms-2"
                style="padding: 10px 30px"
                >Contact Me</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- work experience -->
      <div class="row pt-lg-5" id="workExperience" style="
                                      padding-left: 100px;
                                      padding-top: 50px;
                                      font-family: Roboto, sans-serif;
                                      background-color: white;
      ">
        <!-- title -->
        <div class="col-3 fs-1 fw-bold" style="align-self: center;">Work<br />experience</div>
        <!-- details of experience -->
        <div class="col-9" style="padding: 0rem 2rem 0rem 2rem;">
          <!-- experience of Walmart -->
          <div class="card border-light" style="margin-bottom:25px;">
          <div class="card-header">
            <div class="row justify-content-between">
              <div class="col-4">
                <b>Walmart</b><br />Etobicoke, ON
              </div>
              <div class="col-4">Duration: June 2022 - Present</div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold">Fashion Associate</h5>
            <p class="card-text">           
              <ul>
                <li>Greet customers, answer questions, and assist with the selection of merchandise.</li>
                <li>Ensure merchandise is properly stocked and displayed in accordance with company guidelines.</li>
                <li>Maintain a neat and organized work area at all times.</li>
                <li>Participate in store meetings and training sessions.</li>
                <li>Maintain a high level of customer service and product knowledge.</li>
                <li>Adhere to all safety and security policies and procedures.</li>
              </ul>
            </p>
          </div>
          </div>
          <!-- experience of IT field -->
          <div class="card border-light" style="margin-bottom:25px;">
            <div class="card-header">
              <div class="row justify-content-between">
                <div class="col-4">
                  <b>Bharti Soft Tech Pvt. Ltd.</b><br />Vadodara, Gujarat, India
                </div>
                <div class="col-4">Duration: Dec 2019 - June 2020</div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title fw-bold">Web developer Intern</h5>
              <p class="card-text">           
                <ul>
                  <li>Write and test code for web applications using PHP and other technologies.</li>
                  <li>Create and maintain MySQL databases.</li>
                  <li>Design and develop user interfaces with HTML, CSS, and JavaScript.</li>
                  <li>Troubleshoot and debug applications.</li>
                  <li>Create and maintain documentation for web applications.</li>
                  <li>Collaborate with other developers and designers to ensure a consistent experience and quality product.</li>
                  <li>Stay up-to-date on emerging web technologies and trends.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- education -->
      <div class="row pt-lg-5" id="education" style="
                                    padding-left: 100px;
                                    padding-top: 50px;
                                    font-family: Roboto, sans-serif;
                                    background-color: aliceblue;

      ">
        <!-- title -->
        <div class="col-3 fs-1 fw-bold" style="align-self: center;">Educational<br />Qualification</div>
        <!-- details of education -->
        
        <!-- details of education -->
        <div class="col-9" style="padding: 0rem 2rem 0rem 2rem;">
          <!-- college diploma -->
          <div class="accordion" style="margin-bottom:25px;">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Program: Computer Programming <br />
                Level of education: College Diploma
              </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body" style="padding: 0rem 0.7rem">
                <div class="row">
                  <div class="col-10" style="padding: 1rem 1.25rem">
                    Institute Name: Seneca College<br />
                    Address: Toronto, ON
                  </div>
                  <div class="col-2" style="background-color: darkgray;
                                            text-align: -webkit-center;
                                            padding-top: 1.2rem;">
                    CGPA<br /> 
                    &nbsp;2.8
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>

          <!-- Bachelor education -->
          <div class="accordion" style="margin-bottom:25px;">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Program: Information Technology <br />
                Level of education: bachelor’s of Engineering
              </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body" style="padding: 0rem 0.7rem">
                <div class="row">
                  <div class="col-10" style="padding: 1rem 1.25rem">
                    Institute Name: Gujarat Technological University<br />
                    Address: Gujarat, India
                  </div>
                  <div class="col-2" style="background-color: darkgray;
                                            text-align: -webkit-center;
                                            padding-top: 1.2rem;">
                    CGPA<br /> 
                    &nbsp;8.49
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>

          <!-- HSC education -->
          <div class="accordion" style="margin-bottom:25px;">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Program: Higher Secondary School (Science) <br />
                Level of education: HSC Board
              </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body" style="padding: 0rem 0.7rem">
                <div class="row">
                  <div class="col-10" style="padding: 1rem 1.25rem">
                    Institute Name: R. M. Patel Jyanjyot Gujarati Medium School<br />
                    Address: Borsad, Gujarat, India
                  </div>
                  <div class="col-2" style="background-color: darkgray;
                                            text-align: -webkit-center;
                                            padding-top: 1.2rem;">
                    Achieved<br /> 
                    &nbsp;71%
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>

          <!-- SSC education -->
          <div class="accordion" style="margin-bottom:25px;">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Program: Secondary School <br />
                Level of education: SSC Board
              </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body" style="padding: 0rem 0.7rem">
                <div class="row">
                  <div class="col-10" style="padding: 1rem 1.25rem">
                    Institute Name: Shree Bodal Vidhyamandir<br />
                    Address: Borsad, Gujarat, India
                  </div>
                  <div class="col-2" style="background-color: darkgray;
                                            text-align: -webkit-center;
                                            padding-top: 1.2rem;">
                    Achieved<br /> 
                    &nbsp;84%
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- projects -->
      <div class="row justify-content-between pt-lg-5" id="projects" style="
                                                              padding-top: 50px;
                                                              padding-left: 2rem;
                                                              font-family: Roboto, sans-serif;
                                                              background-color: white;">
        <!-- title -->
        <div class="col-4 fs-1 fw-bold" style="padding-left: 100px; align-self: center;">My Projects</div>
        <div class="col-6" style="padding: 0rem 2rem 0rem 2rem;">
          Over the past 4 years, I have developed expertise in web application development, utilizing a wide range of technologies and database management systems. I have experience of the creation of dynamic, responsive, and user-friendly web applications with an emphasis on user experience and design.
        </div>
        <!-- projects list -->
        <div class="row mt-lg-5 mb-lg-5">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://res.cloudinary.com/hemangini/image/upload/v1658511215/acbwasgzirxtwo3qygaj.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/hemangini/image/upload/v1658511215/acbwasgzirxtwo3qygaj.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/hemangini/image/upload/v1658511215/acbwasgzirxtwo3qygaj.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <!-- connect to me -->
      <div class="row justify-content-between pt-lg-5 pt-lg-5 pb-lg-5" style="background-color: aliceblue; padding-left: 100px; padding-right: 5rem;" id="contactMe">
        <div class="col-3" style="color: darkgray;">
          <div class="fs-1 fw-bold" style="align-self: center; color: black;">Make a<br /> Connection</div>
          <br /><br /><br/>
          Email<br />
          <div style="color: #bf5c0b">hemanginipatel022@gmail.com</div>
          <br /><br />
          LinkedIn<br />
          <a href="www.linkedin.com/in/hemangini-patel-385b96263" class="link-info">linkedin.com/in/hemangini-patel-385b96263</a>
        </div>
        <div class="col-6 pt-5 pb-5" style="background-color: white;">
          <h1 class="ps-3">Contact Me</h1>
          <form action="/send-message" method="post" class="container mt-5">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group mt-3">
              <label for="contact-no">Contact Number:</label>
              <input type="number" id="name" name="name" class="form-control">
            </div>
            <div class="form-group mt-3">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" class="form-control">
            </div>
            <div class="form-group mt-3">
              <label for="message">Message:</label>
              <textarea id="message" name="message" rows="3" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
          </form>
          
        </div>
      </div>
    </div>

    
      <!-- footer -->
      <div style="margin-top: -141px;
      background-color: navy;
      height: 200px;">
      </div>
  
    <script src="/js/main.js"></script>
  </body>
</html>
